body {
    margin: 0;
    font-family: Dubai;
}

table {
    font-family: Dubai;
    border-collapse: collapse;
    width: 80%;
    border-left: none;
    border-right: none;
    margin-top: 2%;
}

th {
    font-size: 20px;
    font-weight: 500;
    background-color: #4c2e05;
    color: white;
    height: 50px;
}

td {
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #285445;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display: inline;
    float: left;
    font-size: 20px;
}

.navbar form {
    font-size: 0%;
}


.back {
    display: block;
    padding: 8px;
}


.back button {
    color: white;
    border: none;
    font-size: 20px;
    font-family: Dubai;
    padding: 0;
    background: none;
}

.back button:hover {
    text-decoration: underline;
}

.add-watchlist-button input, 
.add-watched-button input, 
.select-episodes-button input, 
.remove-watchlist-button input, 
.remove-watched-button input {
    font-size: 15px;
    font-family: Dubai;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    height: 50px;
    background: none;
    background-color: #a2d3c2;
}

.watch-count {
    text-align: center;
}

.rating {
    text-align: center;
}

.recommendation-button button {
    font-family: Dubai;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    width: 105%;
    height: 100%;
    background: none;
    background-color: #a2d3c2;
}

.recommendation-button2 button {
    font-family: Dubai;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    background: none;
    background-color: #a2d3c2;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #230c0f; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    height: fit-content;
    background-color: #BFC5C3;
    color: #230c0f;
    text-align: left;
    padding: 5px;
    border: #230c0f;
    border-style: solid;
    border-radius: 6px;
    font-size: 15px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -30%;
    left: 150%;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 14%;
    left: -5%;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent #230c0f transparent  transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }