body {
    margin: 0;
}

.page-title {
    font-family: Dubai;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.grid-container {
    font-family: Dubai;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    margin-left: 220px;
}

.continue-watching {
    font-size: 46px;
    font-weight: 700;
}

.line2 {
    margin-top: 30px;
    margin-left: 20px;
    width: 26%;
    border-bottom: 20px solid #580e29;
    position: absolute;
}

.content-container {
    grid-column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-title {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

.episode-tracker {
    font-size: 22px;
    font-weight: 350;
    text-align: center;
}

.buttons {
    margin-top: 10px;
    text-align: center;
}

.buttons button {
    font-size: 20px;
    font-weight: 500;
    font-family: Dubai;
    border-radius: 10px;
    padding: 0;
    border: none;
    background: none;
    background-color: #a2d3c2;
    height: 70px;
    width: 140px;
}

.right-side {
    margin-left: 180px;
}

.search-title {
    font-size: 46px;
    font-weight: 700;
}

.line {
    margin-top: 30px;
    margin-left: 20px;
    width: 20%;
    border-bottom: 20px solid #580e29;
    position: absolute;
}

.selection-box select {
    font-family: Dubai;
    font-size: 25px;
    width: 150px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #230c0f;
}

.search-bar {
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 2px solid #230c0f;
    width: 300px;
    padding: 15px 15px;
}

.search-button button {
    margin-top: 50px;
    margin-left: 120px;
    font-size: 20px;
    font-weight: 500;
    font-family: Dubai;
    border-radius: 20px;
    padding: 0;
    border: none;
    background: none;
    background-color: #a2d3c2;
    height: 38px;
    width: 140px;
}

img {
    margin: 2%;
    width: 275px;
    height: 396px;
}